import jenkins.model.*
import com.cloudbees.plugins.credentials.*
import com.cloudbees.plugins.credentials.domains.*
import com.cloudbees.jenkins.plugins.sshcredentials.impl.*

def creds = SystemCredentialsProvider.getInstance().getStore()
def domain = Domain.global()

def id = "{{ ssh_credential_id }}"
def existing = creds.getCredentials(domain).find { it.id == id }

if (existing == null) {
  def key = """{{ ssh_private_key }}"""

  def sshCred = new BasicSSHUserPrivateKey(
    CredentialsScope.GLOBAL,
    id,
    "{{ remote_admin }}",
    new BasicSSHUserPrivateKey.DirectEntryPrivateKeySource(key),
    "",
    "EC2 SSH Key for dynamic agents"
  )

  creds.addCredentials(domain, sshCred)
  println("✅ SSH credential {{ ssh_credential_id }} created")
} else {
  println("ℹ️ SSH credential {{ ssh_credential_id }} already exists")
}
